.container-articledetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}

.title-articledetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellow;
  width: 100%;
  height: 6rem;
  margin-bottom: 3rem;
}

.article-and-comments {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 1px solid rgb(240, 240, 240);
  padding-right: 2rem;
}

.articledetails {
  text-align: left;
  background-color: rgb(240, 240, 240);
  padding: 1rem 2rem;
  width: 450px;
  line-height: 25px;
}

.image-articledetails {
  width: 100%;
}

.comments {
  margin-top: 0.2rem;
  text-align: left;
}

.author-and-category {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.author-and-category-text {
  font-size: 12px;
}
