.container-add-comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem 0rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0.5rem 0rem;
  background-color: rgb(240, 240, 240);
  border: none;
}

.input-name-form {
  width: 65%;
  height: 1.5rem;
  text-align: left;
  padding-left: 0.5rem;
}

.input-comment-form {
  width: 92%;
  height: 5rem;
  text-align: start;
  padding: 0.5rem;
}

.button-comment-form {
  width: fit-content;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  background-color: yellow;
  border: none;
  color: tomato;
  font-weight: bold;
}
